@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #CACACA;
  background-color: #08020D;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font: bold 60px/90px Roboto, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 454px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font: bold 38px/57px Roboto, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 454px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.btn {
  width: 135px;
  height: 53px;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid #CACACA;
  font: 12px/19px Roboto, sans-serif;
  color: #CACACA;
  background-color: #08020D;
}

.btn-brown {
  width: 131px;
  height: 53px;
  padding: 17px 40px;
  border-radius: 32px;
  font: 12.8px/19.2px Roboto, sans-serif;
  color: #FFFFFF;
  background-color: #95390C;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 3;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 905px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.header nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}
@media (max-width: 905px) {
  .logo {
    margin-bottom: 17px;
    margin-right: 0;
    font-weight: bold;
  }
}
.logo img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.logo .logo-name {
  font: 11px/16.5px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.header-navigation {
  font: 11px/16.5px;
  color: #FFFFFF;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-navigation li {
  margin-right: 24px;
}
.header-navigation li a {
  color: #FFFFFF;
}
@media (max-width: 905px) {
  .header-navigation {
    font-weight: bold;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 18px;
  }
}

.search input {
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #3C3B3D;
  border-radius: 50px;
  border: none;
  outline: none;
}
@media (max-width: 905px) {
  .search input {
    width: 100%;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
}
.search input::-webkit-input-placeholder {
  font: 13.3px Arial, sans-serif;
  color: #757575;
  text-transform: uppercase;
}
.search input::-moz-placeholder {
  font: 13.3px Arial, sans-serif;
  color: #757575;
  text-transform: uppercase;
}
.search input:-ms-input-placeholder {
  font: 13.3px Arial, sans-serif;
  color: #757575;
  text-transform: uppercase;
}
.search input::-ms-input-placeholder {
  font: 13.3px Arial, sans-serif;
  color: #757575;
  text-transform: uppercase;
}
.search input::placeholder {
  font: 13.3px Arial, sans-serif;
  color: #757575;
  text-transform: uppercase;
}
@media (max-width: 905px) {
  .search {
    width: 100%;
  }
}

.banner {
  position: relative;
  min-height: 100%;
}
.banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}