@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #CACACA;
  background-color: #08020D;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font: bold 60px/90px Roboto, sans-serif;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 454px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font: bold 38px/57px Roboto, sans-serif;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 454px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font: 24px/45px Roboto, sans-serif;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 454px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
}

.btn {
  border-radius: 5px;
  border: 1px solid #CACACA;
  font: 12px/19px Roboto, sans-serif;
  color: #CACACA;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.btn-brown {
  width: 131px;
  height: 53px;
  padding: 17px 40px;
  border-radius: 32px;
  font: 12.8px/19.2px Roboto, sans-serif;
  color: #FFFFFF;
  background-color: #95390C;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 915px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 3;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 915px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.header nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 90px;
}
@media (max-width: 915px) {
  .logo {
    margin-bottom: 17px;
    margin-right: 0;
    font-weight: bold;
  }
}
.logo img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.logo .logo-name {
  font: 11px/16.5px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.header-navigation {
  font: 11px/16.5px;
  color: #FFFFFF;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-navigation li {
  margin-right: 24px;
}
.header-navigation li a {
  color: #FFFFFF;
}
@media (max-width: 915px) {
  .header-navigation {
    margin-bottom: 18px;
  }
}
@media (max-width: 454px) {
  .header-navigation {
    font-weight: bold;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.search input {
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #3C3B3D;
  border-radius: 50px;
  border: none;
  outline: none;
}
@media (max-width: 915px) {
  .search input {
    width: 100%;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
}
.search input::-webkit-input-placeholder {
  font: 13.3px Arial, sans-serif;
  color: #757575;
  text-transform: uppercase;
}
.search input::-moz-placeholder {
  font: 13.3px Arial, sans-serif;
  color: #757575;
  text-transform: uppercase;
}
.search input:-ms-input-placeholder {
  font: 13.3px Arial, sans-serif;
  color: #757575;
  text-transform: uppercase;
}
.search input::-ms-input-placeholder {
  font: 13.3px Arial, sans-serif;
  color: #757575;
  text-transform: uppercase;
}
.search input::placeholder {
  font: 13.3px Arial, sans-serif;
  color: #757575;
  text-transform: uppercase;
}
@media (max-width: 915px) {
  .search {
    width: 100%;
  }
}

.banner {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}
.banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url("../images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 915px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.banner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 454px) {
  .banner-title {
    margin-top: 75px;
  }
}

.banner-form {
  max-width: 570px;
  margin: 0 auto;
}
.banner-form .banner-form-description {
  font: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 17px;
}
.banner-form .banner-form-text {
  margin-right: 24px;
}
.banner-form .banner-form-text,
.banner-form .banner-form-email {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #CACACA;
  border-radius: 3px;
}
.banner-form .banner-form-text::-webkit-input-placeholder, .banner-form .banner-form-email::-webkit-input-placeholder {
  font: bold 14px Roboto, sans-serif;
  color: #FFFFFF;
}
.banner-form .banner-form-text::-moz-placeholder, .banner-form .banner-form-email::-moz-placeholder {
  font: bold 14px Roboto, sans-serif;
  color: #FFFFFF;
}
.banner-form .banner-form-text:-ms-input-placeholder, .banner-form .banner-form-email:-ms-input-placeholder {
  font: bold 14px Roboto, sans-serif;
  color: #FFFFFF;
}
.banner-form .banner-form-text::-ms-input-placeholder, .banner-form .banner-form-email::-ms-input-placeholder {
  font: bold 14px Roboto, sans-serif;
  color: #FFFFFF;
}
.banner-form .banner-form-text::placeholder,
.banner-form .banner-form-email::placeholder {
  font: bold 14px Roboto, sans-serif;
  color: #FFFFFF;
}
@media (max-width: 915px) {
  .banner-form .banner-form-text,
.banner-form .banner-form-email {
    width: 100%;
  }
}
.banner-form .banner-form-button {
  min-width: 570px;
  min-height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #34C176;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  font: 13.3px Arial, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
}
.banner-form .banner-form-button:hover {
  background-color: #398f61;
}
@media (max-width: 915px) {
  .banner-form .banner-form-button {
    width: 100%;
    min-width: 270px;
  }
}

.pricing-section {
  padding-top: 100px;
  color: #FFFFFF;
  text-align: center;
}

.pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}
@media (max-width: 915px) {
  .pricing-container {
    /*column-gap: calc(20px + (50 - 20) * ((100vw - 280px) / (1240 - 320)));*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-pricing-title {
  margin-bottom: 45px;
}

.pricing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*flex: 0 1 368px;*/
  width: 33%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1em;
  border-radius: 1rem;
}
@media (max-width: 915px) {
  .pricing-item {
    margin-bottom: 27px;
  }
}
@media (max-width: 915px) {
  .pricing-item {
    width: 100%;
  }
}
.pricing-item h3 {
  margin-bottom: 200px;
}
.pricing-item .pricing-value {
  font-size: 64px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pricing-item .pricing-value .number-value {
  line-height: 1em;
  margin-right: 1rem;
}
.pricing-item .pricing-value .currency {
  font-size: 32px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.pricing-item .pricing-btn {
  font-size: 16px;
  color: #FFFFFF;
  padding: 20px 0px;
}
.pricing-item .pricing-footer {
  font-size: 12.8px;
  margin: 64px 0px;
}

.subscribe-1 {
  background: url("../images/subscribe_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-2 {
  background: url("../images/subscribe_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-3 {
  background: url("../images/subscribe_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}