.footer {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.nav-top {
    padding-top: 3rem;
    padding-bottom: 3rem;

    display: flex;
    justify-content: space-between;

    h4 {
        margin-bottom: 15px;
    }

    ul {
        min-width: 270px;

        li a {
            color: $light-gray;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            text-transform: none;
        }
    }
}

.nav-bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;

    ul {
        display: flex;
        gap: 16px;
    }

    li a {
        color: $light-gray;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-transform: none;
    }
}

hr {
    background-color: $gray;
}