.footer {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.nav-top {
    padding-top: 62px;
    padding-bottom: 70px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $md-width) {
        gap: 30px;
    }

    h4 {
        margin-bottom: 15px;
    }

    ul {
        /*min-width: 270px;*/
        flex: 1 1 270px;

        li a {
            color: $light-gray;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            text-transform: none;
        }
    }
}

.nav-top ul li:first-child {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
}

.nav-bottom {
    padding-top: 2rem;
    padding-bottom: 47px;

    ul {
        display: flex;
        gap: 16px;

        @media (max-width: 570px) {
            flex-direction: column;
        }
    }

    li a {
        color: $light-gray;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-transform: none;
    }
}

hr {
    background-color: $gray;
}

.google {
    background-image: url('../images/icons/Google+.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 26px;
    height: 17px;
    display: inline-block;
}

.twitter {
    background-image: url('../images/icons/Twitter.png');
    background-repeat: no-repeat;
    background-size: contain;

    width: 22px;
    height: 19px;
    display: inline-block;
}

.google-link,
.twitter-link {
    display: inline-block;
}

.google-link {
    margin-right: 24px;
}