@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin uppercase {
    text-transform: uppercase;
}

@mixin header-text {
    font: 11px/16.5px;
    color: $white;
}

@mixin container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: $gray;
    background-color: $dark;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font: bold 60px/90px Roboto, sans-serif;
    color: $white;
    text-align: center;
    @include uppercase;

    @media (max-width: $phone-width) {
        font-size: 30px;
        line-height: 45px;
    }
}

h2 {
    font: bold 38px/57px Roboto, sans-serif;
    color: $white;
    @include uppercase;

    @media (max-width: $phone-width) {
        font-size: 18px;
        line-height: 27px;
    }
}

h3 {
    font: 24px/45px Roboto, sans-serif;
    color: $white;
    @include uppercase;

    @media (max-width: $phone-width) {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
    }
}

.btn {
    width: 135px;
    height: 53px;
    padding: 20px 30px;

    border-radius: 5px;
    border: 1px solid $gray;

    font: 12px/19px Roboto, sans-serif;
    color: $gray;

    background-color: $dark;
}

.btn-brown {
    width: 131px;
    height: 53px;
    padding: 17px 40px;

    border-radius: 32px;

    font: 12.8px/19.2px Roboto, sans-serif;
    color: $white;

    background-color: $brown;
}