@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin uppercase {
    text-transform: uppercase;
}

@mixin header-text {
    font-size: 11px;
    line-height: 16.5px;
    color: $gray;
    font-weight: 400;
}

@mixin container {
    width: 100%;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    /*@media (max-width: $md-width) {
        max-width: 100%;
    }*/
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: $gray;
    background-color: $dark;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font: bold 60px/90px Roboto, sans-serif;
    color: $white;
    text-align: center;
    @include uppercase;

    @media (max-width: $phone-width) {
        font-size: 30px;
        line-height: 45px;
    }
}

h2 {
    font: bold 38px/57px Roboto, sans-serif;
    color: $white;
    text-align: center;
    @include uppercase;

    @media (max-width: $phone-width) {
        font-size: 18px;
        line-height: 27px;
    }
}

h3 {
    font: 24px/45px Roboto, sans-serif;
    color: $white;
    text-align: center;
    @include uppercase;

    @media (max-width: $phone-width) {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
    }
}

h4 {
    font: bold 18px/27px Roboto, sans-serif;
    color: $white;
    @include uppercase;
}

.btn {
    border-radius: 5px;
    border: 1px solid $gray;

    font: 12px/19px Roboto, sans-serif;
    color: $gray;
    text-align: center;
    @include uppercase;

    background-color: transparent;
    transition: 0.7s;

    &:hover {
        background-color: $gray;
        color: $dark;
    }
}