@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin basic {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #CACACA;
    background-color: #08020D;
}

.btn {
    width: 135px;
    height: 53px;
    padding: 20px 30px;

    border-radius: 5px;
    border: 1px solid $gray;

    font: 12px/19px Roboto, sans-serif;
    color: $gray;

    background-color: $dark;
}

.btn-brown {
    width: 131px;
    height: 53px;
    padding: 17px 40px;

    border-radius: 32px;

    font: $text-small/19.2px Roboto, sans-serif;
    color: $white;

    background-color: $brown;
}