* {
    @include reset;
}

.header {
    @include container;

    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;

    display: flex;
    align-items: center;

    @media (max-width: $md-width) {
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav {
        flex-grow: 1;
    }
}

.logo {
    display: flex;
    align-items: center;

    margin-right: 90px;

    @media (max-width: $phone-width) {
        margin-bottom: 17px;

        font-weight: bold;
    }

    img {
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
    .logo-name {
        @include header-text;
        @include uppercase;
    }
}

.header-navigation {
    @include header-text;
    @include uppercase;
    display: flex;

    & li {
        margin-right: 24px;
    }

    & li a {
        color: $white;
    }
    @media (max-width: $phone-width) {
        font-weight: bold;
        flex-direction: column;

        margin-bottom: 18px;
    }
}

.search {
    input {
        width: 248px;
        height: 25px;
        padding: 5px 10px;

        background-color: $dark-gray;

        border-radius: 50px;
        border: none;
        outline: none;

        @media (max-width: $phone-width) {
            width: 100%;
            flex-grow: 3;
        }

         &::placeholder {
            font: 13.3px Arial, sans-serif;
            color: #757575;
            @include uppercase;
        }
    }
    

    @media (max-width: $phone-width) {
        width: 100%;
    }
}


