* {
    @include reset;
}

.header {
    @include container;

    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;

    display: flex;
    align-items: center;
    
    nav {
        flex-grow: 1;
    }
}

.logo {
    display: flex;
    align-items: center;

    margin-right: 90px;

    img {
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
    .logo-name {
        @include header-text;
        @include uppercase;
    }
}

.header-navigation {
    @include header-text;
    @include uppercase;
    display: flex;

    & li {
        margin-right: 24px;
    }

    & li a {
        color: $white;
    }
}

.search {
    width: 248px;
    height: 25px;
    padding: 5px 10px;

    background-color: $dark-gray;

    border-radius: 50px;
    border: none;
    outline: none;

    &::placeholder {
        font: 13.3px Arial, sans-serif;
        color: #757575;
        @include uppercase;
    }
}


