.page-similar {
    padding-top: 100px;
    margin-bottom: 100px;
}

.page-title {
    margin-bottom: 48px;

    h2 {
        text-align: left;
    }
}

.similar-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.similar-item {
    .similar-item-img {
        max-width: 250px;
        max-height: 250px;
        margin-bottom: 17px;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}