.page-popular-track {
    padding-top: 100px;
}

.popular-track-title {
    margin-bottom: 48px;

    h2 {
    text-align: left;
    }
}

.popular-track-image {
    margin-right: 15px;

    img {
        width: 55px;
        height: 55px;
    }
}

.track-info {
    font-size: 12.8px;
    line-height: 19.2px;
    color: $light-gray;

    .song-name p:first-child {
        @include uppercase;
        font-weight: bold;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 46%);
    row-gap: 25px;
    column-gap: 49px;

    @media (max-width: $md-width) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.popular-track {
    display: flex;
    align-items: center;
    

    .track-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }
}