.page-discography {
    padding-top: 100px;
}

.page-discography-title {
    margin-bottom: 48px;

    h2 {
        text-align: left;
    }
}

.discography-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 24%);
}

