.pricing-section {
    padding-top: 100px;

    color: $white;
}

.pricing-container {
    display: flex;
}

.page-pricing-title {
    margin-bottom: 45px;
}

.pricing-item {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border-radius: 1rem;

    .pricing-value {
        font-size: $text-size-7;
        text-align: center;

        .currency {
            font-size: $text-size-3;
        }
    }

    .pricing-btn {
        font-size: $text-size-1;
        color: $white;
    }

    .pricing-footer {
        font-size: $text-small;
        text-align: center;
    }
}

.subscribe-1 {
    background: url("../images/subscribe_1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-2 {
    background: url("../images/subscribe_2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-3 {
    background: url("../images/subscribe_3.png");
    background-repeat: no-repeat;
    background-size: cover;
}