.page-similar {
    padding-top: 100px;
    margin-bottom: 100px;
}

.page-title {
    margin-bottom: 48px;
}

.similar-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}