.page-news {
    padding-top: 100px;
}

.page-news-title {
    margin-bottom: 45px;
}

.news-item-wrapper {
    margin-bottom: 65px;

    display: flex;
}

.news-item-img {
    margin-right: 50px;
}

.news-body {
    margin-bottom: 24px;

    h3 {
        text-transform: none;
        text-align: left;

        margin-bottom: 30px;
    }
}

.news-author {
    display: flex;
    gap: 16px;
    margin-bottom: 45px;

    font-size: 12px;

    .avatar {
        text-transform: uppercase;
        color: $orange;

        position: relative;
        padding-left: 35px;

        &::before {
            content: '';

            background-image: url('../images/icons/avatar.png');
            width: 19px;
            height: 19px;

            position: absolute;
            left: 0px;
            top: -2px;
        }
    }
}

.news-footer-btn {
    padding: 16px 30px;
}