.page-similar {
    padding-top: 100px;
    margin-bottom: 100px;
}

.page-title {
    margin-bottom: 48px;

    h2 {
        text-align: left;
    }
}

.similar-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*column-gap: 50px;*/
    row-gap: 25px;
}

.similar-item {
    margin-right: 50px;

    .similar-item-img {
        max-width: 250px;
        max-height: 250px;
        margin-bottom: 17px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .similar-info {
        h3 {
            font-size: 18px;
            line-height: 27px;
            text-transform: none;
            font-weight: bold;
        }

        p {
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            color: $light-gray;
        }
    }
}