.pricing-section {
    padding-top: 100px;
}

.pricing-section-title {
    margin-bottom: 50px;
}

.d-flex {
    display: flex;

    .pricing-item {
        flex: 1 1 368px;

        padding-left: 1.5rem;
        padding-right: 1.5rem;
        min-height: 615px;
        
        border-radius: 1rem;

        h3 {
            margin-bottom: 200px;
        }
    }
}

.d-flex div:not(:last-child) {
    margin-right: 50px;
}

.subscribe-1 {
    background-image: url("../images/subscribe_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.subscribe-2 {
    background-image: url("../images/subscribe_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.subscribe-3 {
    background-image: url("../images/subscribe_3.png");
    background-repeat: no-repeat;
    background-size: cover;
}