$dark: #08020D;
$white: #FFFFFF;
$dark-gray: #3C3B3D;
$gray: #CACACA;
$light-gray: #E0E0E0;
$green: #34C176;
$orange: #F89202;
$violet: #5328A1;
$brown: #95390C;

$text-size-1: 16px;
$text-size-2: 24px;
$text-size-3: 32px;
$text-size-4: 40px;
$text-size-5: 48px;
$text-size-6: 56px;
$text-size-7: 64px;
$text-small: 12.8px;

$phone-width: 454px;
$md-width: 915px;